* {
    box-sizing: border-box;
}

 
.LoginContainer{
    display: flex;
    
}

.SideDiv {
    width: 50%;
    background: #617ac7;
    min-height: 100vh;
}

.Logo {
    height: 88px;	
    width: 394px;
    margin-top: 298px;
    
}
.Login {	
    min-height: 100vh;	
    width: 50%;	
    border: 1px solid #979797;	
    background-color: white;
   
}

.sign-up {	
    height: 32px;	
    width: 328px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 24px;	
    font-weight: bold;	
    line-height: 32px;
    margin: 24px 0 24px 40px;
}

.loginBtn {	
    height: 32px;	
    width: 328px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 24px;	
    font-weight: bold;	
    line-height: 32px;
    margin: 24px 0 24px 40px;
}

.email {	
    height: 24px;	
    width: 73px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 16px;	
    line-height: 24px;
    margin-left: 30px;
}

.password {	
    height: 24px;	
    width: 73px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 16px;	
    line-height: 24px;
    margin-top: 8px;
    margin-left: 45px;
}

input {	
    height: 32px;	
    width: 328px;	
    opacity: 0.25;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 14px;	
    line-height: 20px;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

::placeholder {
    color: black;
}

 .formContainer{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    background: white;
}

.need-an-account-sig {	
    height: 19px;	
    width: 178px;	
    color: #777777;	
    font-family: "Helvetica Neue";	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 18px;
    margin-top: 14px;
    text-decoration: underline;
}

.already-have-account-sig {
    height: 19px;	
    width: 218px;	
    color: #777777;	
    font-family: "Helvetica Neue";	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 18px;
    margin-top: 14px;
}

.button-1 {	
    height: 40px;	
    width: 160px;
    color: #FFFFFF;	
    font-family: "Open Sans";	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 24px;	
    text-align: center;
    background: #617ac7;
    margin-left: 38px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.button-2 {
    height: 40px;	
    width: 160px;
    color: #00A0FF;	
    font-family: "Open Sans";	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 24px;	
    text-align: center;
    margin-top: 10px;
    border: 1px solid #00a0ff;
    cursor: pointer;
    background: white;
    border-radius: 5px;
}

.button3 {
    width: 328px;
    height: 40px;	
    color: #FFFFFF;	
    font-family: "Open Sans";	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 24px;	
    text-align: center;
    background: #617ac7;
    margin-left: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.or {
    color: grey;
    margin-top: 32px;
}

.ForgotPassword {
    color: #00a0ff;
    cursor: pointer;
    margin-top: 24px;
}

.ForgotPassword2 {
    color: #00a0ff;
    cursor: pointer;
    margin-top: 24px;
    margin-left: 40px;
}

.bottom {
    margin-left: 35px;
}

.Checkbox {
    height: 16px;
    width: 16px;
    
}

.checkbox-label {	
    height: 20px;	
    width: 286px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 14px;	
    line-height: 20px;
}

.CheckContainer {
    display: flex;
}