.Container {
    height: 1036px;	
    width: 100%;	
    border: 1px solid #979797;	
    background-color: #FFFFFF;
}

.ContentWrapper {
 width: 700px;
 margin: 0 auto;
 margin-top: 231px;
 text-align: center;
}

 .topNav{
    height: 48px;	
    width: 100%;	
    background-color: #617BC9;
}

.LogoSvg {
    height: 41.1px;	
    width: 183.61px;
}

.do-you-have-any-tool {	
    height: 48px;	
    width: 814px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 36px;	
    font-weight: bold;	
    line-height: 48px;
    margin-top: 145;
}

.YesBtn {	
    height: 32px;	
    width: 137px;	
    color: #FFFFFF;	
    font-family: "Open Sans";	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 20px;	
    text-align: center;
    background: #617ac7;
    border: none;
    border-radius: 5px;
}

.NoBtn {	
    height: 32px;	
    width: 137px;	
    color: #00A0FF;	
    font-family: "Open Sans";	
    font-size: 14px;	
    line-height: 20px;	
    text-align: center;
    border: 1px solid #00a0ff;
    border-radius: 5px;
    margin-left: 255px;
    background: white;
}

.BtnContainer{
    margin-top: 75px;
}

